<VirtualHost *:80>

        ServerName {{ mysql_hostname }}

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html/phpmyadmin

        DocumentRoot /var/www/html/phpmyadmin
        <Directory /var/www/html/phpmyadmin/>
            AllowOverride All
            DirectoryIndex index.php
            Order Allow,Deny
            Allow from All
        </Directory>

        <Directory /var/www/html/phpmyadmin/templates>
            Require all denied
        </Directory>
        <Directory /var/www/html/phpmyadmin/libraries>
            Require all denied
        </Directory>


        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
        <FilesMatch ".php$">
         SetHandler "proxy:unix:/var/run/php/php7.4-fpm.sock|fcgi://localhost/"
        </FilesMatch>

</VirtualHost>
